src/main/mule/firstmuleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c247aeab-4bc9-4fd9-bf4f-d07585209052" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstmuleappFlow" doc:id="eed2edcd-0180-4179-83c7-9af779502b28" >
		<http:listener doc:name="Listener" doc:id="e8d181b4-0538-40a7-b4eb-ad2ab6683a9d" config-ref="HTTP_Listener_config" path="/firstmuleapp"/>
		<set-variable value="101" doc:name="Set Variable" doc:id="43a8b39c-1c51-4d14-976d-397a445d277b" variableName="Id"/>
		<logger level="INFO" doc:name="Logger" doc:id="eb979353-ea28-45f3-b9a8-85ea7a559d0b" message="#[%dw 2.0
output application/java
---
vars.Id]" />
		<set-payload doc:name="Set Payload" doc:id="d05b335b-290c-4f10-b31b-955be264612a" value="#[vars.Id]" />
	</flow>
</mule>
